# --- General --- 
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.env
.env.*
!.env.example

# --- Node.js (Server & Client) ---
node_modules/
dist/
build/
coverage/

# --- React (Client Specific) ---
client/build/
client/node_modules/
client/.env
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

# --- Server Specific ---
server/node_modules/
server/.env

# --- IDE/Editor Specific ---
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?